@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.otf');
}

:root {
    --color-background: linear-gradient(90deg, #fce2cd 15%,#b1816c  85%); 
    --color-text-dark: #533a3b;
    --color-text-light: #E39178;
    --color-white: #FFF5EB;
    --color-span: #866252;
    --color-text: #4f4f4f;
    --color-text-out: #90908e;
    --color-black: #212121;
    --color-feedback: #FFBF00;
    --color-white-white: #fff;

}

html, 
body {
    font-family: 'PoppinsRegular', 'Rubik', sans-serif;
    background: var(--color-background);
    color: var(--color-text-dark);
}

b {
    font-family: 'PoppinsMedium', 'Rubik', sans-serif;
}

.hidden {
    display: none!important;
}

.color-span {
    color: var(--color-span);
}

a.navbar-brand {
    margin-left: -50px;
}

.nav-link {
    color: var(--color-text-dark)!important;
    padding-left: 35px!important;
    padding-right: 35px!important;
}

.btn-white {
    background-color: var(--color-white);
    color: var(--color-text-dark)!important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btn-dark {
    background-color: var(--color-text-light);
    color: var(--color-text-dark)!important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: none;
}

.btn-light {
    background-color: var(--color-text-light);
    color: var(--color-text-dark)!important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: none;
}

.btn-light:hover {
    background-color: var(--color-white);
}

.btn-white:hover {
    background-color: var(--color-text-light);
}

.btn-dark:hover {
    background-color: var(--color-text-dark);
    color: var(--color-white)!important;
}

.active {
    background-color: var(--color-text-light);
}

.btn-icon-left {
    padding-left: 70px;
}

.btn-icon-left span.icon-left {
    display: inline-block;
    color: var(--color-text-dark);
    background-color: var(--color-white);
    width: 45px;
    height: 45px;
    position: absolute;
    margin-left: -60px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 8px;
}

.btn-icon {
    padding-right: 75px;
}

.btn-icon .icon {
    display: inline-block;
    color: var(--color-text-dark);
    background-color: var(--color-text-light);
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 8px;
}

.btn-sm {
    padding: 9px 15px!important;
    border-radius: 15px!important;
    font-size: 18px!important;
}

.btn-social {
    width: 50px;
}

.banner {
    padding-top: 110px;
    padding-bottom: 200px;
}

.text-banner {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}

.text-banner h1 {
    color: var(--color-text-light);
    font-size: 60px;
}

.text-banner p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'PoppinsRegular', 'Rubik', sans-serif;
}

.card-banner {
    width: 29rem;
    height: 29rem;
    border-radius: 56% 44% 73% 27% / 45% 68% 32% 55%;
    background-color: var(--color-span);
    position: absolute;
    right: 0;
    top: -80px;
}

.img-banner img {
    position: absolute;
    width: 670px;
    top: -10px;
    right: 10px;
}

.card {
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1)!important;
    border: none;
}

.card-case {
    width: 360px;
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: -10px;
}

.card-case-name {
    position: absolute;
    font-size: 12px;
    color: var(--color-text-light);
    right: 20px;
    bottom: 0px;
}

.sobre {
    padding-top: 100px;
    padding-bottom: 150px;
}

.hint-title {
    color: var(--color-span);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.title {
    color: var(--color-text-dark);
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.title span {
    color: var(--color-white);
}

.card-icon {
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.delivery {
    margin-top: 45px;
}

.card-text {
    color: var(--color-text);
    font-size: 15px;
    padding: 0px 30px;
}

.card-text p {
    font-size: 22px;
    color: var(--color-text-dark);
}

.catalogo {
    padding-top: 100px;
    padding-bottom: 150px;
}


.container-menu {
    margin-bottom: 40px;
}

.card-item {
    height: 360px;
}

.card-item .img-produto img {
    width: 100%;
    border-radius: 11px;
}

.card-item .title-produto {
    color: var(--color-text-dark);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 40px;
    margin-bottom: 0px;
}

.card-item .price-produto {
    color: var(--color-text-light);
    font-size: 24px;
}

.card-item .add-carrinho {
    display: none;
    text-align: center;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.btn-menos {
    color: var(--color-black);
    padding: 5px 7px;
    border: 2px solid var(--color-black);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.btn-mais {
    color: var(--color-black);
    padding: 5px 7px;
    border: 2px solid var(--color-black);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.add-numero-itens {
    color: var(--color-black);
    padding: 2px 15px;
    border-top: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
    font-size: 18px;
}

.btn-add {
    border: 2px solid var(--color-black);
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 10px;
    color: var(--color-white);
    background-color: var(--color-black);
    margin-left: 15px;
}

.card-item:hover {
    background-color: var(--color-text-light);  
}

.card-item:hover .title-produto {
    display: none; 
}

.card-item:hover .add-carrinho {
    display: flex; 
}

.card-item:hover .price-produto {
    color: var(--color-black)!important;
    margin-top: 20px;
}

.feedbacks {
    padding-top: 100px;
    padding-bottom: 150px;
}

.card-feedbacks {
    height: 390px;
    width: 390px;
    border-radius: 120px;
    background-color: var(--color-white);
    position: absolute;
    left: 0;
}

.container-feedback {
    display: flex;
}

.feedback {
    margin-top: 70px;
}

.img-feedback {
    width: 100px;
    height: 100px;
    
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
}

#feedback-1 .img-feedback {
    background-image: url(../img/Feedbacks/iza-img.png);
    background-size: cover;
}

.nome-feedback {
    color: var(--color-text-dark);
    font-size: 22px;
    margin-bottom: 5px;
}

.nota-feedback {
    color: var(--color-white);
}

.text-feedback {
    display: flex;
    font-size: 16px;
    color: var(--color-text-dark);
}

.text-feedback i {
    font-size: 35px;
    color: var(--color-text-dark);
}

.text-feedback i:first-child {
    padding-left: 10px;
    padding-right: 35px;
}

.text-feedback i:last-child {
    padding-left: 45px;
    display: flex;
    justify-content: center;
    align-items: end;
}

#feedback-2 .img-feedback {
    background-image: url(../img/Feedbacks/lucas-img.png);
    background-size: cover;
}

#feedback-3 .img-feedback {
    background-image: url(../img/Feedbacks/dani-img.png);
    background-size: cover;
}

.personalize {
    padding-top: 100px;
    padding-bottom: 150px;
}

.card-secondary {
    background-color: var(--color-white);
    border-radius: 70px;
    padding: 90px;
}

.card-reserva {
    height: 330px;
    width: 330px;
    border-radius: 120px;
    background-color: var(--color-text-light);
    position: absolute;
    right: 0;
    top: -25px;
}

.personalize .img-banner img {
    width: 100%;
}

.personalize .span-personalize {
    color: var(--color-text-light);
}

footer {
    background-color: var(--color-white);
}

.logo-footer {
    width: 190px;
}

.container-footer, 
.container-footer-text, 
.container-footer-social {
    display: flex;
    align-items: center;
}

.container-footer {
    justify-content: start;
}

.container-footer-text {
    justify-content: center;
}

.container-footer-social {
    justify-content: end;
}

.modal-full {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px;
    background: var(--color-white);
    z-index: 9990;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.m-header {
    padding-bottom: 20px;
}

.m-body {
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
}

.etapas {
    display: flex;
}

.etapa {
    width: 35px;
    height: 35px;
    background-color: var(--color-white-white);
    border-radius: 50px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
    color: var(--color-text-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.etapa::before {
    content: '';
    width: 20px;
    background-color: var(--color-text-out);
    position: absolute;
    height: 2px;
    margin-left: 55px;
}

.etapa:last-child::before {
    content: none;
}

.etapa.active, .etapa.active::before {
    background-color: var(--color-text-light);
}

.title-presente {
    font-size: 20px;
    color: var(--color-text-dark);
}

.modal-full .item-presente {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-text-out);
}

.modal-full .item-presente:last-child {
    border-bottom: none;
}

.modal-full .img {
    width: 100px;
    border-radius: 11px;
}


.modal-full .title-produto {
    color: var(--color-text-dark);
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
}

.modal-full .price-produto {
    color: var(--color-span);
    font-size: 24px;
    margin-bottom: 0;
}

.modal-full .dados-produto {
    flex: 1;
    padding-left: 25px;
    padding-right: 25px;
}

.modal-full .add-carrinho {
    display: flex;
    text-align: center;
    height: 30px;
    justify-content: center;
    align-items: center;
}